<!DOCTYPE html>
<html>
    <head>
        <title>Home Automation Project v0.1</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel='stylesheet' href='stylesheets/style.css'>
        <script src="javascripts/script.js"></script>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1>Device List</h1>
                    <ul class="list-group" id="DeviceList">
                        <!-- List of Devices: populated by script.js -->
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
